/* body {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    
}

.botones {
    background-color: chartreuse;
    padding: 20px;
    border-radius: 10%;
    border: 1;
}

#valores {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:double;
}

.box {
    background: skyblue;
}